 
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
          <div class="inner">
            <h1 class="masthead-brand"><%= link_to "サボり日記", root_path, id: "logo" %></h3>
            <nav class="nav nav-masthead justify-content-center">
              <ul class="nav">
                <% if logged_in? %>
                  
                      <li class="nav-link active"><%= link_to "プロフィール", current_user  %></li>
                      <li class="nav-link"><%= link_to "ユーザー設定", edit_user_path(current_user) %></li>
                      <li class="nav-link"><%= link_to "ログアウト", logout_path, method: :delete  %></li>
                    
            
                 
                <% else %>
                  <li><%= link_to "ログイン", login_path, class: "nav-link" %></li>
                <% end %>
              </ul>  
            </nav>
          </div>
    </header>
  
